$primary-color: #233d4d;
$accent-color: #fe7f2d;



* {
 	text-align: center;
}

.thumbnail{
	height: 25em;
	overflow: scroll;
	background-color: $accent-color;
	border: 2px solid $primary-color;
	
}
img{
	max-height: 17em;
	border: 2px solid $primary-color;
	border-radius: 10px;
}

html{
	background-color: $primary-color;
}

<<<<<<< HEAD
#img-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-right: -40px;

}

#user-img{
	height: 200px;
	width: 200px;
	max-height: 200px;
	max-width: 200px;


}
#prof-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#prof-button-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2%;
 }

 #go-to-boards{
 	margin-right: 10px;
 }

 #go-to-pins{
 	margin-left: 10px;
 }

.btn-xs {
	background-color: $primary-color;
	color: #fff;
}

