<nav class="navbar navbar-default"  ng-controller="navbarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pinterest</a>
    </div>

    <!-- Search Bar -->
    <form class="navbar-form navbar-left ng-pristine ng-valid">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="!isLoggedIn" href="#" ng-click="loginGoogle()">Login with Google</a></li>
        <li><a ng-show="!isLoggedIn" href="#" data-toggle="modal" data-target="#loginRegister">Login/Register</a></li>
        <li><a ng-show="isLoggedIn" ng-click="logoutUser()" href="#!/">Logout</a></li>
        <li><a ng-show="isLoggedIn" href="#!/explore" ng-click="">Explore</a></li>
        <li><a ng-show="isLoggedIn" href="#!/{{user}}" ng-click="">Profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div class="modal fade" tabindex="-1" role="dialog" id="loginRegister">
      <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Login/Register</h4>
          </div>
          <div class="modal-body">
            <section class="form-group">
              <h4>Please enter your information below</h4>
              <div>
                Email: <input class="form-control" type="text" autofocus="true"  ng-model="account.email">
              </div>
              <div>
                Password: <input class="form-control" type="password" ng-model="account.password">
              </div>
            </section>
          </div>
          <div class="modal-footer">

            <button class="btn btn-info" ng-click="loginUser()" data-dismiss="modal">Login</button>
            <button class="btn btn-primary" ng-click="register()" data-dismiss="modal">Register</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="createUser">
      <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Profile Information</h4>
          </div>
          <div class="modal-body">
            <section class="form-group">
              <h4>What's your Name!</h4>
              <div>
                Name: <input class="form-control" type="text" autofocus="true"  ng-model="profile.name">
              </div>

            </section>
          </div>
          <div class="modal-footer">

            <button class="btn btn-info" ng-click="createUser(profile)" data-dismiss="modal">Submit Name!</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</nav>




